<% provide(:title, 'About') %>
<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<div class="tf-general">
    <div class="overlay">
	    <div class="container">
		    <div class="content section-title">
		        <h1>About Us</h1>
		        <hr>
		        <h3>Safety - our first priority</h3>
		    </div>
		</div>
    </div>
</div>

<div class="container-fluid toppadding">
  <div class="row">
    <div class="col-md-12 about-us section-heading-spacer">
      	<span name="about" ></span>
    	<h2>Mbeone Trucks Story</h2>
      	<hr>

      	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      	</p>  		
    </div>
  </div>
</div>

<div class="container-fluid toppadding">
  <div class="row">
    <div class="col-md-12 about-us section-heading-spacer">
      	<span name="about" ></span>
    	<h2>Meet Our Team</h2>
      	<hr> 		
    </div>
  </div>
</div>
<div class="our-team">
  <div class="row profile-thumbnail">
    <div class="col-md-6">
      <img class="img-responsive" src="<%= image_url('profiles/team-male-profile-holder.jpg') %>">
      <h4>Khotso Nkotoane</h4>
      <h5>Founder and CEO </h5>

      <ul>
        <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" ></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
      </ul>
    </div>

    <div class="col-md-6">
      <img class="img-responsive" src="<%= image_url('profiles/team-male-profile-holder.jpg') %>">
      <h4>Mbhele Retshidisitsoe</h4>
      <h5>Founder and CEO</h5>

      <ul>
        <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" ></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
      </ul>
    </div>
  </div>
</div>



