<% provide(:title, 'About') %>
<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<div class="page-heading text-center">
  <div class="container zoomIn animated">
    <h1 class="page-title">ABOUT US <span class="title-under"></span></h1>
    <hr>
    <p class="page-description">
      Safety - our first priority <br><strong><i>-Mr. Mbele Lebohang</i></strong>
    </p>
  </div>
</div>

<div class="container-fluid toppadding">
  <div class="row">
    <div class="col-md-12 about-us section-heading-spacer">
      	<span name="about" ></span>
    	<h2>Mbheoane Truck Rental Story</h2>
      	<hr>
      	<p>
        Mbheoane Truck Rental has been established as a transportation company whose management perceives a growing demand for transportation companies within  South Africa.Our traditional business model is based on the transportation of goods for companies requiring the hauling  in South Africa.<br>

        We are organised into two main functional areas which are transportation of goods and transportation services.Mbhele Retshidisitswe and Nketoane Khotso are the co-founders and co-presidents of the company.
      	</p>  		
    </div>
  </div>
</div>

<div class="container-fluid toppadding">
  <div class="row">
    <div class="col-md-12 about-us section-heading-spacer">
      	<span name="about" ></span>
    	<h2>Meet Our Team</h2>
      	<hr> 		
    </div>
  </div>
</div>
<div class="our-team">
  <div class="row profile-thumbnail">
    <div class="col-md-6">
      <img class="img-responsive" src="<%= image_url('profiles/team-male-profile-holder.jpg') %>">
      <h4>Nketoane Khotso</h4>
      <h5>Founder and CEO </h5>

      <ul>
        <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" ></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
      </ul>
    </div>

    <div class="col-md-6">
      <img class="img-responsive" src="<%= image_url('profiles/team-male-profile-holder.jpg') %>">
      <h4>Mbhele Retshidisitswe</h4>
      <h5>Founder and CEO</h5>

      <ul>
        <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" ></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
      </ul>
    </div>
  </div>
</div>



