<% provide(:title, 'About') %>
<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>
<div class="page-heading text-center">
  <div class="container zoomIn animated">
    <h1 class="page-title">Contact Us <span class="title-under"></span></h1>
    <p class="page-description">
      Our customers - Our Pride. <br><strong><i>-Mr. Nketoane Khotso</i></strong>
    </p>
  </div>
</div>