<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>
<div id="tf-home">
    <div class="overlay">
	    <div class="container">
		    <div class="content section-title">
		        <h1>Trucks for every delivery</h1>
		        <hr>
		        <h3>We deliver, whatever it takes.</h3>
		        <br>
		        <a href="#" class="btn btn-primary my-btn">Contact</a>
		        <a href="#" class="btn btn-primary my-btn2">Portfolio</a>
		    </div>
		</div>
    </div>
</div>
