<% provide(:title, 'Contact') %>
<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>
<div class="page-heading text-center">
  <div class="container zoomIn animated">
    <h1 class="page-title">Our Services <span class="title-under"></span></h1>
    <hr>
    <p class="page-description">
      Trust us - We can. <br><strong><i>-Mr Nketoane Khotso</i></strong>
    </p>
  </div>
</div>

<ul>
	<li>
		We deliver:
		<ul>
			<li>
				Clothes
			</li>
			<li>
				Textile
			</li>
			<li>
				footware
			</li>
			
		</ul>
	</li>
	<li>
		Our services:
		<ul>
			<li>
				We manage the paperwork and markerting for other transportation companies and individuals. 
			</li>
		</ul>
	</li>
</ul>