 /*-----------------------------------------------------------------------------------------------------------------

@package: Mbeone Trucks
@author: Mbele Lebohang
@version: 1.0

-------------------------------------------------------------------------------------------------------------------*/

/*========================================================================
  Imports & Variables
==========================================================================*/
/* Imports */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'slick';
@import 'slick-theme';
@import url(http://fonts.googleapis.com/css?family=Playball);


/* mixins, variables, etc. */
$color_main : #13bfec ; // main purple
$color_secondary : darken($color_main, 10%) ; // dark purple
$gray-medium-light: #eaeaea;

$font_main : 'Roboto', sans-serif;
$font_titles : 'Dosis', sans-serif;

/*========================================================================
  Universal
==========================================================================*/
body{
	font-family: $font_main;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	max-width: 1200px;
	position: relative;
	margin: 0 auto;
	background: image_url('bg.jpg'); 
}
.section-title{
	hr{
		border-color: $color_secondary;
		width: 120px;
	}
}

.section-heading-spacer{
	hr{
	    float: center;
	    width: 200px;
	    border-top: 3px solid $color_secondary;
    }
}
.profile-thumbnail {
  text-align: center;
  margin-top: 46px;

  img {
    margin: 0 auto;
  }

  h4 {
    margin-top: 24px;
    font-size: 20px;
    color: #2f2f2f;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 300;
  }
  h5 {
    margin-top: -3px;
    font-size: 13px;
    color: #a9a9a9;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 300;
  }
  p {
    margin-top: 12px;
    font-size: 13px;
    color: #666;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 300;
    line-height: 24px;
  }

  ul {
    margin-top: 2px;
    padding-left: 0px;
    display: inline-block;
    margin: 0 auto;

    li {
      padding: 0 10px;
      float: left;
      list-style: none;
      font-family: FontAwesome;
      font-size: 15px;

      a {
        color: #2f2f2f;
      }

      a:hover {
        color: #1fcdff;
      }
    }
  }
}

button.btn,
a.btn {
	margin: 15px 5px;
	transition: all 0.5s;
}
button.btn.btn-primary.my-btn,
a.btn.btn-primary.my-btn {
	background: $color_secondary;
	border-color: transparent;
	border-radius: 0px;
	border-width: 2px;
	padding: 10px 30px;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 600;
}
button.btn.btn-primary.my-btn:hover,
a.btn.btn-primary.my-btn:hover{
	background: #FFFFFF;
	color: $color_main;
	border-color: transparent;
}
button.btn.btn-primary.my-btn.dark:hover,
a.btn.btn-primary.my-btn.dark:hover{
	background: #222222;
	color: #ffffff;
	border-color: transparent;
}
a.btn.btn-primary.my-btn2 {
	background: rgba(47, 147, 123, 0);
	border-color: #FFFFFF;
	border-radius: 0px;
	border-width: 2px;
	padding: 10px 30px;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 600;
	color: #FFFFFF;
}

a.btn.btn-primary.my-btn2:hover{
	background: $color_secondary;
	color: #ffffff;
	border-color: transparent;
}

/*========================================================================
  Typography
=========================================================================*/
h1, h2, h3, h4, h5, h6{
	font-weight: 300;
}

h1{
	text-transform: uppercase;
}

h2{
	line-height: 20px;
	margin:  0;
}

h4 {
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 700;
	color: $color_main;
}
p{
	font-size: 13px;
}

a { 
	color: #ffffff;
	transition: all 0.8;
}
a:hover,
a:focus{
	color: $color_secondary;
	text-decoration: none;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/*========================================================================
 Pages 
========================================================================== */
.page-heading {
  background: image_url('slide5.jpg') no-repeat center;
  background-size: cover;
  min-height: 190px;
  color: #fff;
  padding: 110px 15px;
  margin-bottom: 10px;
}
.page-heading .title-under {
  background: #fff;
}

.page-description {
  font-size: 18px;
}

.main-container {
  margin-bottom: 50px;
}

/*========================================================================
  Navigation bar
=========================================================================*/
#tf-menu {
	margin-bottom: 0;
	background: darken($color_secondary, 30%);
	border: 0;
	border-bottom: 2px solid $color_secondary;
	border-radius: 0;
	color: #fff !important;
	padding: 0.3% 0;
	transition: all 0.5s;
}
#sticky {
    padding: 0.5ex;
    background-color: #333;
    color: #fff;
    font-size: 2em;
    border-radius: 0.5ex;
}
#tf-menu.stick {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    background: #222222;
    padding: 1% 0;
}
#tf-menu.navbar-default .navbar-nav > li > a {
	color: #C5C5C5;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	margin-left: 10px;
	border: 2px solid transparent;
	letter-spacing: 1px;
	transition: all 1s;
}

#tf-menu.navbar-default .navbar-nav > li > a:hover, 
#tf-menu.navbar-default .navbar-nav > li > a:focus {
	color: #fff;
	background-color: $color_secondary;
}
#tf-menu.navbar-default .navbar-nav > li.active > a {
	background-color: $color_secondary;
}
#tf-menu.navbar-default .navbar-nav > li.active > a:hover,
#tf-menu.navbar-default .navbar-nav > li.active > a:focus{
	background-color: transparent;
	border: 2px solid white;
}

.logo{
	font-family: 'Playball', cursive;
}

ul.cat.list-inline li a {
	border: 1px solid #2F937B;
	padding: 5px 15px;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	color: #2F937B;
	transition: all 0.5s;
}

ul.cat.list-inline li a:hover{
	background: #2F937B;
	color: #ffffff;
}

.space{ padding: 20px}
.toppadding{ padding-top: 30px}
.nopadding{ padding:  0;}

/*======================================================================================= 
  home about 
  =======================================================================================*/
#tf-service{
	padding: 2% 0; 
}
.fa {
	color: darken($color_secondary, 10%);
}
/*======================================================================================= 
  footer 
  =======================================================================================*/

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    margin-left: 30px;
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
    &:visited{
      color:#777
    }
  }
  div {
    display: inline;
  }
}
.contact-us{
  background: image_url('footer-bg.jpg');
  padding: 15px;
  a{
    color: $color_main;
  }
  .footer-col{
    max-height: 300px;
  }
  .heading{
    font-weight: 500;
  }
}
.social-media{
  text-align: center;
  padding: 0;
  background-color: $color_main;

  .fa {
    color: $gray-medium-light;
  }

  ul{
    margin: 0;
    padding: 5px;
    
    li{
      margin: 5px 0px;
      padding: 0;
      list-style: none outside none;
      display: inline-block;
    }
  }

  .social-btn { /* global button class */
      display: inline-block;
      position: relative;
      cursor: pointer;
      width: 45px;
      height: 45px;
      border:2px solid #ddd; /* add border to the buttons */
      padding: 0px;
      text-decoration: none;
      text-align: center;
      color: #fff;
      font-size: 20px;
      font-weight: normal;
      line-height: 2em;
      border-radius: 25px;
      -moz-border-radius:27px;
      -webkit-border-radius:27px;
  }

  .facebook-btn{
      background: $color_secondary;
  }

  .facebook-btn:before{
      font-family: "FontAwesome";
      content: "\f09a";
  }

  .facebook-btn:hover{
      color: $color_secondary;
      background: #fff;
      border-color: $color_secondary;
  }
  .twitter-btn{
    background: $color_secondary;
  }

  .twitter-btn:before{
        font-family: "FontAwesome";
        content: "\f099";
        
  }

  .twitter-btn:hover{
        color: $color_secondary;
        background: #fff;
        border-color: $color_secondary;
  }
  .linkedin-btn{
    background: $color_secondary;
  }

  .linkedin-btn:before{
        font-family: "FontAwesome";
        content: "\f0e1";
  }

  .linkedin-btn:hover{
        color: $color_secondary;
        background: #fff;
        border-color: $color_secondary;
  }
  .fa-youtube{
    background: $color_secondary;
  }

  .fa-youtube:before{
        font-family: "FontAwesome";
  }

  .fa-youtube:hover{
        color: $color_secondary;
        background: #fff;
        border-color: $color_secondary;
  }
  .fa-instagram{
    background:$color_secondary;
  }

  .fa-instagram:before{
        font-family: "FontAwesome";
  }

  .fa-instagram:hover{
        color: $color_secondary;
        background: #fff;
        border-color: $color_secondary;
  }
}
/*===============================
 Home Slider 
================================= */
.carousel-home img {
  width: 100%;
}
.carousel-home .carousel-control {
  background: #1f76bd;
  height: 80px;
  width: 40px;
  top: 50%;
  margin-top: -40px;
  -moz-transition: width, 0.3s;
  -o-transition: width, 0.3s;
  -webkit-transition: width, 0.3s;
  transition: width, 0.3s;
}
.carousel-home .carousel-control .fa {
  font-size: 2.5em;
  padding-top: 12px;
}
.carousel-home .carousel-control:hover {
  width: 50px;
}
.carousel-home .carousel-caption {
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
}
.carousel-home .carousel-title {
  color: #fff;
  font-family: "Dosis", sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}
.carousel-home .carousel-subtitle {
  font-size: 25px;
  text-transform: uppercase;
}
.carousel-home .btn {
  margin-top: 30px;
}
.section-home {
  margin: 30px 0;
}

/*=========================================================================
  Animation
  =========================================================================*/
  // bounceInUp

@-webkit-keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}



// bounceInDown

@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

.animated {
  visibility: visible;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.slow {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
/*=========================================================================
  Responsive
===========================================================================*/
@media (min-width: 1200px){
	.container {
	width: 1100px;
	}
}
/* Medium devices (desktops, 992px and Donw) */
@media (max-width: 992px) {

  // home/

  .carousel-home {

    .carousel-title {

      font-size: 36px;
    }

    .carousel-subtitle {

      font-size: 18px;
    }

    .btn {
      margin-top: 15px;
    } 
  }
}
/* Small devices (tablets, 768px and Down) */
@media (max-width: 768px) {
  .carousel-home {

    .carousel-title {

      font-size: 32px;
    }

    .carousel-subtitle {

      font-size: 16px;
    }

    .carousel-control {

        background: $color_main;
        height: 40px;
        width: 20px;
    
        top: 50%;
        margin-top: -20px;


        .fa {

            font-size: 1.5em;
            padding-top: 4px;
        }

    }
  }
}
/* Extra Small devices (tablets, 480px and Down) */
@media (max-width: 480px) {
  .carousel-home {

    .carousel-title {
      font-size: 16px;
      margin: 0;
    }

    .carousel-subtitle {
      font-size: 14px;
      margin: 0;
    }
    .carousel-indicators {

      bottom: 0;
    }
  }
}