 /*-----------------------------------------------------------------------------------------------------------------

@package: Mbeone Trucks
@author: Mbele Lebohang
@version: 1.0

-------------------------------------------------------------------------------------------------------------------*/

/*========================================================================
  Imports & Variables
==========================================================================*/
/* Imports */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'slick';
@import 'slick-theme';


/* mixins, variables, etc. */